{% extends 'base.html' %}

{% block hearder %}
<head>
    <title>My page</title>
</head>
{% endblock %}

{% block content %}
<body>
    user name: {{user.profile.name}}
    참여자
    <br>
    birtday: {{user.profile.birtday}}
    <a href="{% url 'likedPage' %}">관심있는 공모전 목록</a>
    <br>
    <a href="{% url 'participantPage' %}">참여한 공모전 목록</a>
    <br>
    <br>
    공모전 개최자
    <br>
    <a href="{% url 'hostPage' %}">올린 공모전 목록</a>
    <br>
    


    user name: {{profile.name}} 
    <br>
    birtday: 
    <br>
    폰번호: {{user.profile.number}}
    <br>
    이메일: {{user.profile.email}}
    <br>
        
</body>
{% endblock %}