{% extends 'base.html' %}
{% load static %}

{% block header %}
<head>
    <title>My page</title>
    <link rel="stylesheet" href="{% static 'css/mypage.css' %}">
</head>
{% endblock %}

{% block main %}
<main>
    <div class="container-fluid">
        <h1 class="mt-4">&nbsp{{user}}님의 마이 페이지</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item active">회원정보</li>
            <!-- <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
            <li class="breadcrumb-item active">Charts</li> -->
        </ol>

        <div class="card">
            <div class="card-body">
                <h3 class="card-title">회원 이름: {{user.profile.name}}</h3>
                <h5 class="card-text">생년월일 : {{user.profile.birtday}}</h5>
                <h5 class="card-text">휴대폰 번호 : {{user.profile.number}}</h5>
                <h5 class="card-text">이메일 : {{user.profile.email}}</h5>
            </div>
        </div>

        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a href="{% url 'likedPage' %}">관심있는 공모전</a></li>
        </ol>

        <div class="row">
            {% for post in like_posts %}
                <br>
                <div class="col-lg-6">
                    <div class="card bg text-black mb-4">
                        <div class="card-body">
                            <h2>{{post.title}}</h2>
                            <h5>{{post.summary}}</h5>
                            <div class="small text-black">총 상금 : {{post.total_prize}}</div>
                            <div class="small text-black">공모전 시작 일자 : {{post.start_date}}</div>
                            <div class="small text-black">공모전 종료 일자 : {{post.end_date}}</div>
                        </div>
                        <div class="card-footer d-flex align-items-center justify-content-between">
                            <a class="small text-black stretched-link" href="{% url 'contestPost' post.id %}">View Details</a>
                            <div class="small text-black"><i class="fas fa-angle-right"></i></div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

        <ul class="pagination justify-content-center"">
            {% if like_posts.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?like_page={{like_posts.previous_page_number}}">Previous</a>
            </li>
            {% else %}
            <li class="page-item disabled">
              <a class="page-link" href="#" tabindex="-1">Previous</a>
            </li>
            {% endif %}

            {% for i in like_posts.paginator.page_range %}
            {% if like_posts.number == i %}
            <li class="page-item active">
                <a class="page-link" href="?like_page={{i}}">{{i}}<span class="sr-only">(current)</span></a>
            </li>
            {% else %}
            <li class="page-item"><a class="page-link" href="?like_page={{i}}">{{i}}</a></li>
            {% endif %}
            {% endfor %}

            {% if like_posts.has_next %}
            <li class="page-item">
                <a class="page-link" href="?like_page={{like_posts.next_page_number}}">Next</a>
              </li>
            {% else %}
            <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1">Next</a>
              </li>
            {% endif %}
        </ul>

        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a href="{% url 'participantPage' %}">참여한 공모전</a></li>
        </ol>

        <div class="row">
            {% for post in participant_posts %}
                <br>
                <div class="col-lg-6">
                    <div class="card bg text-black mb-4">
                        <div class="card-body">
                            <h2>{{post.title}}</h2>
                            <h5>{{post.summary}}</h5>
                            <div class="small text-black">총 상금 : {{post.total_prize}}</div>
                            <div class="small text-black">공모전 시작 일자 : {{post.start_date}}</div>
                            <div class="small text-black">공모전 종료 일자 : {{post.end_date}}</div>
                        </div>
                        <div class="card-footer d-flex align-items-center justify-content-between">
                            <a class="small text-black stretched-link" href="{% url 'contestPost' post.id %}">View Details</a>
                            <div class="small text-black"><i class="fas fa-angle-right"></i></div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

        <ul class="pagination justify-content-center"">
            {% if participant_posts.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?participant_page={{participant_posts.previous_page_number}}">Previous</a>
            </li>
            {% else %}
            <li class="page-item disabled">
              <a class="page-link" href="#" tabindex="-1">Previous</a>
            </li>
            {% endif %}

            {% for i in participant_posts.paginator.page_range %}
            {% if participant_posts.number == i %}
            <li class="page-item active">
                <a class="page-link" href="?participant_page={{i}}">{{i}}<span class="sr-only">(current)</span></a>
            </li>
            {% else %}
            <li class="page-item"><a class="page-link" href="?participant_page={{i}}">{{i}}</a></li>
            {% endif %}
            {% endfor %}

            {% if participant_posts.has_next %}
            <li class="page-item">
                <a class="page-link" href="?participant_page={{participant_posts.next_page_number}}">Next</a>
              </li>
            {% else %}
            <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1">Next</a>
              </li>
            {% endif %}
        </ul>

        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a href="{% url 'hostPage' %}">올린 공모전 목록</a></li>
        </ol>

        <div class="row">
            {% for post in host_posts %}
                <br>
                <div class="col-lg-6">
                    <div class="card bg text-black mb-4">
                        <div class="card-body">
                            <h2>{{post.title}}</h2>
                            <h5>{{post.summary}}</h5>
                            <div class="small text-black">총 상금 : {{post.total_prize}}</div>
                            <div class="small text-black">공모전 시작 일자 : {{post.start_date}}</div>
                            <div class="small text-black">공모전 종료 일자 : {{post.end_date}}</div>
                        </div>
                        <div class="card-footer d-flex align-items-center justify-content-between">
                            <a class="small text-black stretched-link" href="{% url 'contestPost' post.id %}">View Details</a>
                            <div class="small text-black"><i class="fas fa-angle-right"></i></div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

        <ul class="pagination justify-content-center"">
            {% if host_posts.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?host_page={{host_posts.previous_page_number}}">Previous</a>
            </li>
            {% else %}
            <li class="page-item disabled">
              <a class="page-link" href="#" tabindex="-1">Previous</a>
            </li>
            {% endif %}

            {% for i in host_posts.paginator.page_range %}
            {% if host_posts.number == i %}
            <li class="page-item active">
                <a class="page-link" href="?host_page={{i}}">{{i}}<span class="sr-only">(current)</span></a>
            </li>
            {% else %}
            <li class="page-item"><a class="page-link" href="?host_page={{i}}">{{i}}</a></li>
            {% endif %}
            {% endfor %}

            {% if host_posts.has_next %}
            <li class="page-item">
                <a class="page-link" href="?host_page={{host_posts.next_page_number}}">Next</a>
              </li>
            {% else %}
            <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1">Next</a>
              </li>
            {% endif %}
        </ul>

        <a href="{% url 'edituser' %}"><button type="button" class="btn btn-dark">회원정보수정</button></a>
    </div>
</main>
{% endblock %}