{% extends 'base.html' %}

{% block hearder %}
<head>
    <title>Login</title>
</head>
{% endblock %}

{% block content %}
<body>
    
    <div class="container">
        <h1>login</h1>
        {{error}}
        <form method="POST" action="{% url 'login' %}">
            {% csrf_token %}
            user name:
            <br>
            <input name="userID" type="text" values="">
            <br>
            password:
            <br>
            <input name="password" type="password" values="">
            <br><br>
            
            <input type="submit" class="btn btn-success" value = "login">
        </form>
    </div>
    
</body>
{% endblock %}