.bg-dark {
    background-color: #012840 !important;
}
.sb-sidenav-dark {
    background-color: #012840;
}
#id1{
    color: #012840;
    font-size:xx-large;
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Light-webfont.woff');
    font-weight: 300;
    font-style: normal;
    text-align: center;
    margin-top: 60px;
   
}
#id2{
    color:#012840;
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Light-webfont.woff');
    font-weight: 300;
    font-style: normal;
    text-align: center;
    font-size:large;
}
#id3{
    color:#012840;
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Light-webfont.woff');
    font-weight: 300;
    font-style: normal;
    text-align: center;
}
#id4{
    color:#012840;
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Light-webfont.woff');
    font-weight: 300;
    font-style: normal;
    text-align: center;
}
.box{
    border:5px solid #012840; 
    padding:20px;
    width: 800px;
    height: 200px;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    overflow-x: hidden;
    
}
.box:hover{
        background-color: #F2F2F2; 
    }