.bg-dark {
    background-color: #012840 !important;
}
.sb-sidenav-dark {
    background-color: #012840;
}
.sb-sidenav-footer {
    background-color: #012840 !important;
}
.test
{
    font-family: sans-serif;
    font-size: x-large;
}


