input:focus,

textarea:focus {
    outline: none;
}

#title {
    font-size: 30px;
    border: 0;
    margin: 40px;
    padding: 30px;
    border-bottom: 1px solid #012840
}

#article {
    border: none;
    margin: 40px;
    padding: 30px;
    border-bottom: 1px solid #012840
}

#image {
    margin: 40px;
}

#date {
    margin: 40px;

}

#category {
    margin: 40px;
    padding: 10px;
    border: 1px solid #012840;
    border-radius: 10px;
}

.category {
    margin-left: 50px;
    margin-right: 20px;
}

#prize {
    margin: 40px;
    padding: 10px;
    border: 1px solid #012840;
    border-radius: 10px;
}

.prize {
    margin-left: 50px;
    margin-right: 20px;
}

#submit {
    margin: 40px;
    float: right;
}

.upload label {
    display: inline-block;
    padding: .5em .75em;
    color: black;
    font-size: inherit;
    line-height: normal;
    vertical-align: middle;
    background-color: #fff;
    cursor: pointer;
    border: 1px solid #012840;
    border-radius: .25em;
    -webkit-transition: background-color 0.2s;
    transition: background-color 0.2s;
}

.upload label:hover {
    background-color: #012840;
    color: white;
}

.upload label:active {
    background-color: #0583F2;
    color: white;
}

.upload input[type="file"] {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}