.sb-nav-fixed {
    padding-top: 0px !important;
}

.container{
    flex-direction: column;
    display: flex;
}

.container-fluid{
    margin-bottom: 5% !important;
    padding-top: 1rem !important;
    padding-left: 10rem !important;
    padding-right: 10rem !important;
}

#carouselExampleIndicators{
    margin-bottom: 2rem ;
}

.col-4{
    margin: 10px 0px;
}

.card {
    margin: 0px 0px;
    text-align: center;
    width: 100% ;
    height: 100% ;
}

.card-img-top{
    width: 100% !important; 
    height: 200px !important;
}

.card-img-overlay{
    width: 100%;
    height: 100%;
}