{% extends 'base.html' %}
{% load static %}

{% block header %}
<head>
    <title>contestPost</title>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css">
</head>
{% endblock %}

{% block content %}
<body>
    <div class="container">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">공모전 제목: {{post.title}}</h5>
                <h6 class="card-subtitle mb-2 text-muted">내용 : {% if post.updated_at %} {(post.updated_at}}
                    {% else %} {{post.created_at}} {% endif %} by{{post.manager.profile.name}}</h6>
                <p class="card-text">이미지</p>
                {% if post.image %}
                <img src="{{post.image.url}}" alt="">
                {% else %}
                <img src= "{% static 'image/loading_fail.jpg' %}"  alt="image_loading_fail">
                {% endif %}

            <!--즐겨찾기 기능-->            
            <div style="display:flex; font-size: 2rem;" class="good">
                <div class="goodicon" style="flex: 1 1 1; font-size: 1rem;">
                    {% if state == 'Favorites_Registered' %}
                        <i class="xi-star xi-2x"></i>
                    {% elif state == 'Favorites_Unregistered' %}
                        <i class="xi-star-o xi-2x"></i>
                    {% else %}
                    {% endif %}
                </div>
                &nbsp 
                <div>
                
                <a style="color:white; background-color: black;"href="{% url 'post_like' post.id %}">
                    {% if state == 'Favorites_Registered' %}
                    즐겨찾기 취소
                    {% elif state == 'Favorites_Unregistered' %}
                    즐겨찾기 등록
                    {% else %}
                    {% endif %}
                </a>
                
                
                &nbsp 
                </div>
                <div class="goodnum">
                    해당 공모전에 관심 있어하는 사람 {{post.like_count}}명
                </div>
            </div>

                <p class="card-text">공모전 시작 날짜: {{post.start_date}}</p>
                <p class="card-text">공모전 마감 날짜: {{post.end_date}}</p>

                <p class="card-text">올린 날짜: {{post.created_at}}</p>
                <p class="card-text">수정한 날짜: {{post.updated_at}}</p>

                <p class="card-text">분야: {{post.category}}</p>
                <p class="card-text">주최기관: {{post.organizer}}</p>
                <p class="card-text">경품종류: {{post.total_prize}}</p>
                <p class="card-text">총 상금: {{post.prize_type}}</p>

                <p class="card-text">작성자 명: {{post.manager.profile.name}}</p>
                
                {% if user.is_authenticated %}
                <br>
                <a href="{% url 'createIdea' %}"><button type="button" class="btn btn-dark">아이디어 제출</button></a>
                <br>
                {% endif %}

                {% if user == post.manager or user.username == 'admin' %}
                <a href="{%url 'delete' post.id %}"><button type="button" class="btn btn-light">Delete</button></a>
                <a href="{%url 'editPost' post.id %}"><button type="button" class="btn btn-light">Edit</button></a>
                {% endif %}
            </div>
        </div>
    </div>

    <!--댓글-->
    <br>
    {% for comment in comments %}
    <div class="card">
        <div class="card-body">
            <h5>{{comment.body}}</h5>
            <h6>댓글 작성자 : {{comment.c_writer}} 
                {% if comment.c_writer == post.manager %}
                (공모전 작성자)
                {% endif %}
                작성 날짜 : {{comment.pub_date}}</h6>
            {% if comment.c_writer == user %}
            <a href = "{% url 'comment_delete' comment.id %}">
                <button type="button" class="btn btn-dark">삭제</button>
            </a>
            {% endif %}
        </div>
    </div>
    {% endfor %}
    <br>

    <!--댓글 달기-->
    <form method = 'POST' action = "{% url 'comment_create' post.id %}">
        {% csrf_token %}
        <textarea cols =125 rows=2 name="body"></textarea>
        <input class = "btn btn-primary" type="submit" value="댓글 달기!">
    </form>
</body>
{% endblock %}