{% extends 'base.html' %}

{% block header %}
<head>
    <title>createPost</title>
</head>
{% endblock %}

{% block content %}
<body>
    <form action="{% url 'create' %}" enctype="multipart/form-data" method="POST">
        {% csrf_token %}
        <h4>제목: </h4>
        <input type="text" name="title">
        <br>
    
        <h4>설명: </h4>
        <textarea cols=40 rows=10 name="content"></textarea>
        <br>
    
        <label>가게사진 올리기</label>
        <input class="form-control" type="file" name="image">
        <br>

        <label>시작 날짜</label>
        <input class="form-control" type="date" placeholder="start_date" name="start_date">
        <br>
        <label>마감 날짜</label>
        <input class="form-control" type="date" placeholder="end_date" name="end_date">
        <br>
        <label>카테고리</label>
        <input type="checkbox" name="category[]" id="category1" value="카테고리1">카테고리1
        <input type="checkbox" name="category[]" id="category2" value="카테고리2">카테고리2
        <input type="checkbox" name="category[]" id="category3" value="카테고리3">카테고리3
        <br>

        <label>주최기관</label>
        <input type="radio" name="organizer" id="organizer1" value="주최기관1">주최기관1
        <input type="radio" name="organizer" id="organizer2" value="주최기관2">주최기관2
        <input type="radio" name="organizer" id="organizer3" value="주최기관3">주최기관3
        <br>

        <label>경품종류</label>
        <input type="radio" name="prize_type" id="prize_type1" value="경품종류1">경품종류1
        <input type="radio" name="prize_type" id="prize_type2" value="경품종류2">경품종류2
        <input type="radio" name="prize_type" id="prize_type3" value="경품종류3">경품종류3
        <br>

        <label>총 상금액</label>
        <input type='number' name='total_prize'/>

        <input class="btn btn-outline-dark" type="submit" value="제출하기">
    </form>
<body>

{% endblock %}