{% extends 'base.html' %}

{% block header %}

{% load static %}


<head>
    <title>createPost</title>
    <link rel="stylesheet" href="{% static 'css/createPost.css' %}">
</head>
{% endblock %}

{% block main %}
<main>
    <script src="../js/createPost.js"></script>
    <div id="title">
        <form action="{% url 'create' %}" enctype="multipart/form-data" method="POST">
            {% csrf_token %}

            <input type="text" name="title" placeholder="공모전 제목" style="width:100%; border: none;">
            <br>
    </div>

    <div id="article">
        <textarea rows=40 name="content" placeholder="공모전에 대한 설명을 구체적으로 작성해주세요."
            style="width:100%; border: none;"></textarea>
        <br>
    </div>

    <div id="image" class="upload">
        <label for="upload">사진 업로드</>
            <input class="form-control" id="upload" type="file" name="image" style="border: 1px solid #012840;">
            <br>
    </div>

    <div id="date">
        <label>시작 날짜</label>
        <input class="form-control" type="date" placeholder="start_date" name="start_date"
            style="border: 1px solid #012840;">
        <br>
        <label>마감 날짜</label>
        <input class="form-control" type="date" placeholder="end_date" name="end_date"
            style="border: 1px solid #012840;">
        <br>
    </div>

    <div id='category'>
        <label>카테고리</label>
        <input type="checkbox" name="category[]" id="category1" value="카테고리1" class="category">카테고리1
        <input type="checkbox" name="category[]" id="category2" value="카테고리2" class="category">카테고리2
        <input type="checkbox" name="category[]" id="category3" value="카테고리3" class="category">카테고리3
        <br>
    </div>

    <div id="prize">
        <label>경품종류</label>
        <input type="radio" name="prize_type" id="prize_type1" value="경품종류1" class="prize">경품종류1
        <input type="radio" name="prize_type" id="prize_type2" value="경품종류2" class="prize"> 경품종류2
        <input type="radio" name="prize_type" id="prize_type3" value="경품종류3" class="prize">경품종류3
        <br>

        <label>총 상금액</label>
        <input type='number' name='total_prize' style="margin-left: 50px;">
    </div>

    <div id="submit">
        <input class="btn btn-outline-dark" type="submit" value="제출하기">
    </div>
    </form>
</main>

{% endblock %}