{% extends 'base.html' %}
{% load static %}

{% block header %}

<head>
    <title>createIdea</title>
    <link rel="stylesheet" href="{% static 'css/createIdea.css' %}">
</head>
{% endblock %}

{% block main %}
<main>
    <form action="{% url 'createI' post.id %}" enctype="multipart/form-data" method="POST">
        {% csrf_token %}

        <div id="title">
            <input type="text" name="title" placeholder="아이디어 제목" style="width:100%; border: none;">
            <br>
        </div>

        <div id="article">
            <textarea rows=40 name="content" placeholder="아이디어에 대한 설명을 구체적으로 작성해주세요."
                style="width:100%; border: none;"></textarea>
        </div>

        <div id="image" class="upload">
            <label for="upload">사진 업로드</>
                <input class="form-control" id="upload" type="file" name="image" style="border: 1px solid #012840;">
                <br>
        </div>

        <div id="submit">
            <input class="btn btn-outline-dark" type="submit" value="제출하기">
        </div>

    </form>
</main>

{% endblock %}