{% extends 'base.html' %}

{% block header %}
<head>
    <title>createPost</title>
</head>
{% endblock %}

{% block main %}
<main>
    <form action="{% url 'update' post.id %}" enctype="multipart/form-data" method="POST">
        {% csrf_token %}
        <h4>제목: </h4>
        <input type="text" name="title" value="{{post.title}}">
        <br>
    
        <h4>설명: </h4>
        <textarea cols=40 rows=10 name="content">{{post.content}}</textarea>
        <br>
    
        <label>가게사진 올리기</label>
        <input class="form-control" type="file" name="image" value="{{post.image}}">
        <br>

        <label>시작 날짜</label>
        <input class="form-control" type="date" placeholder="start_date" name="start_date" value="{{post.start_date}}">
        <br>
        <label>마감 날짜</label>
        <input class="form-control" type="date" placeholder="end_date" name="end_date"  value="{{post.end_date}}">
        <br>
        <label>카테고리</label>
        {% for category in categories %}
            {% if category in post_category_list %}
                <input type="checkbox" name="category[]" id="{{category}}" value="{{category}}" checked="checked">{{category}}
            {% else %}
                <input type="checkbox" name="category[]" id="{{category}}" value="{{category}}">{{category}}
            {% endif %}
        {% endfor %}
        <br>

        <label>경품종류</label>
        {% for prize_type in prize_types %}
            {% if prize_type == post.prize_type %}
                <input type="radio" name="prize_type" id="{{prize_type}}" value="{{prize_type}}" checked="checked">{{prize_type}}
            {% else %}
                <input type="radio" name="prize_type" id="{{prize_type}}" value="{{prize_type}}" >{{prize_type}}
            {% endif %}
        {% endfor %}
        <br>

        <label>총 상금액</label>
        <input type='number' name='total_prize' value="{{post.total_prize}}"/>

        <input class="btn btn-outline-dark" type="submit" value="제출하기">
    </form>
</main>

{% endblock %}