{% extends 'base.html' %}
{% load static %}

{% block header %}
<head>
    <title>Home</title>
</head>
{% endblock %}

{% block content %}
<body>
    <h3>구현해야하는 페이지 링크(임시)</h3>
    <a href="{% url 'hostPage' %}">hostPage</a><br>
    <a href="{% url 'participantPage' %}">participantPage</a><br>
    <br>

    <!--검색창-->
    <div class="search">
        <form action="{% url 'search' %}" method="GET">
            <!--{% csrf_token %}-->
            검색창
            <input class="search_box" type="text" placeholder="검색하고 싶은 공모전을 검색하세요." name='post_name'>
            <input class="search_btn" type="image" src="" alt="search">
        </form>
    </div>

    <!--랜덤 게시글-->
    <br>
    <div class="container">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{random_post.title}}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{random_post.created_at}}</h6>
                <p class="card-text"></p>

                
            </div>
        </div>

        <div class="card">
            <div class="card-header">
              랜덤 게시글
            </div>
            {% if random_post.image %}
            <img src="{{random_post.image.url}}" alt=""/>
            {% else %}
            <img src= "{% static 'image/loading_fail.jpg' %}"  alt="image_loading_fail">
            {% endif %}
            <div class="card-body">
              <h5 class="card-title">{{random_post.title}}</h5>
              <p class="card-text">{{random_post.summary}}</p>
              <a href="{% url 'contestPost' random_post.id %}" class="btn btn-primary">More</a>
              <a href="#" 
            </div>
          </div>
    </div>
    <br>

    <!--게시글 생성 페이지 이동-->
    <br>
    <a href="{% url 'createPost' %}"><button type="button" class="btn btn-dark">게시글 쓰기</button></a>
    <br>

    <!--게시글 테스트-->
    {% for post in posts.all %}
    <br>
    <div class="container">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{post.title}}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{post.created_at}}</h6>
                <p class="card-text">{{post.summary}}</p>
                <a href="{% url 'contestPost' post.id %}" class="card-link">...more</a>
            </div>
        </div>
    </div>
    <br>
    {% endfor %}
</body>
{% endblock %}