{% extends 'base.html' %}

{% block header %}
<head>
    <title>hostPage</title>
</head>
{% endblock %}

{% block main %}
<main>
    {% if user.is_active %}
        <div class="like">
                {{user}}님이 올린 공모전들 :
                {% for post in posts %}
                    {% if post.manager == user %}
                        <br>
                        <a href="{% url 'contestPost' post.id %}">{{post.title}}</a>
                    {% endif %}
                {% endfor %}
        </div>
    {% endif %}
</main>
{% endblock %}
