{% extends 'base.html' %}

{% block header %}
<head>
    <title>likedPage</title>
</head>
{% endblock %}

{% block content %}
<body>
    {% if user.is_active %}
        <!--{% if user.username != "admin" %}-->
        <div class="like">
                <i class="fa fa-star"> </i>&nbsp{{user}}님이 즐겨찾는 가게 :
                {% for like in likes %}
                    {% if a.user == user %}
                        <a href="{% url 'contestPost' like.post.id %}">{{like.post.title}}</a>
                    {% endif %}
                {% endfor %}
        </div>
        <!--{% endif %}-->
    {% endif %}
</body>
{% endblock %}
