{% extends 'base.html' %}

{% block header %}
<head>
    <title>likedPage</title>
</head>
{% endblock %}

{% block content %}
<body>
    {% if user.is_active %}
        <div class="like">
                <i class="fa fa-star"> </i>&nbsp{{user}}님이 관심있는 공모전들 :
                {% for like in likes %}
                    {% if like.user == user %}
                        <br>
                        <a href="{% url 'contestPost' like.post.id %}">{{like.post.title}}</a>
                    {% endif %}
                {% endfor %}
        </div>
    {% endif %}
</body>
{% endblock %}
